body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar{
    background-color: #d9ca0c!important;
}

.navbar-toggler{
    margin-right:16px ;
}

.navbar-brand{
    margin-left: 35px;
    font-family: 'Volkhov', serif;
    font-size: 30px;
}

.nav-link{
    font-family: 'Volkhov', serif;
    font-size: 20px;
}

.dropdown {
margin-right: 60px;
}


.main-header {
    margin-top: 12vh;
    text-align: center;
    font-family: 'Volkhov', serif;
}

.top-row {
    margin-bottom: 82.5px;
}

.card-cont {
    margin-left: 10%;
    margin-right: 10%;
}

.bottom-row{
    margin-bottom: 20px;
}

.card-body{
    text-align: center;
    background-color: #f5f5f2;
}

.btn{
    background-color: #d9ca0c;
}

/* add recipe page */

#recipeCont{
    margin-top: 60px;
}

.toggle{
    margin-left: 3.25rem;
}

.icon-center{
    text-align: center;
}

