body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar{
    background-color: #D9C24E!important;
}

.navbar-toggler{
    margin-right:16px ;
}

.navbar-brand{
    margin-left: 35px;
    font-family: 'Volkhov', serif;
    font-size: 30px;
}

.nav-link{
    font-family: 'Volkhov', serif;
    font-size: 20px;
}

.dropdown {
margin-right: 60px;
}


.main-header {
    margin-top: 13vh;
    margin-bottom: 6vh;
    text-align: center;
    font-family: 'Volkhov', serif;
}

/*----- categories page cards---- */

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body{
    text-align: center;
    background-color: #F2F2F2;
}

.card{
    border-width: 5px;
}

.btn{
    background-color: #D9C24E;
    color: black;
    border-color: #D9C24E;
}

/* add recipe page */

#recipeCont{
    margin-top: 60px;
}

.toggle{
    margin-left: 3.25rem;
}

.icon-center{
    text-align: center;
}


/* recipe - base */

.accordion{
    margin-top: 5px;
}

.accordion-button{
    background-color: #D9C24E;
}

.accordion-body{
    background-color: #F2F2F2;
}

.icon-key i{
    margin-left: 15px;
    margin-right: 6px;
    font-size: 18px;

    
}

.icon-key{
    font-family: 'Volkhov', serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
}

.recipe-name{
    font-family: 'Volkhov', serif;
    font-size: 18px;
}

.recipe-icons{
    text-align: right;
    padding-right: 8px;
}


