{% extends "base.html" %}
{% block content %}

<h3 class="main-header center-align">Add Category</h3>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
        <!-- category name -->
        <div class="row">
            <div class="input-field col-12">
                <i class="fas fa-folder-open prefix "></i>
                <input id="food_category" name="food_category" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="food_category">Category Name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn btn-secondary btn-lg">
                    Add Category <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}