{% extends "base.html" %}
{% block content %}

<div class="container-md main-header">
<h1 class="center-align">FOOD CATEGORIES</h1>
</div>


<div class="container overflow-hidden">
    <div class="row justify-content-evenly">
        <div class="col-sm-12 col-md-6 col-lg-3 g-5">
            <div class="card h-100 border-light">
                <img src="./static/images/vegetable_card.jpg" class="card-img-top" alt="selection of vegetables laid out on table">
                <div class="card-body">
                    <h5 class="card-title">Vegetarian</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 g-5">
            <div class="card h-100 border-light">
                <img src="./static/images/chicken_card.jpg" class="card-img-top" alt="grill pan containing a whole cooked chicken">
                <div class="card-body">
                    <h5 class="card-title">White Meat</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 g-5">
            <div class="card h-100 border-light">
                <img src="./static/images/red_meat_card.jpg" class="card-img-top" alt="rare steak fillet on a plate">
                <div class="card-body">
                    <h5 class="card-title">Red Meat</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-sm-12 col-md-6 col-lg-3 g-5">
            <div class="card h-100 border-light">
                <img src="./static/images/oilyfish_card.jpg" class="card-img-top" alt="cooked salmon fillet on a plate">
                <div class="card-body">
                    <h5 class="card-title">Oily-Fish</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 g-5">
            <div class="card h-100 border-light">
                <img src="./static/images/white_fish_card.jpg" class="card-img-top" alt="plated fish fillet on potatoes">
                <div class="card-body">
                    <h5 class="card-title">White Fish</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <a href="#" class="btn">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}