{% extends "base.html" %}
{% block content %}

<div class="container-md main-header">
<h1 class="center-align">Oily-Fish Meals</h1>
</div>

<div class = "row">
    <div class="col-12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-lg" type="button">
            Add Recipe <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>


<div class="accordion" id="accordionExample">
    {% for ofish in ofish_recipe %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
                {{ ofish.recipe_name}}  |  {{ ofish.category}}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{ ofish.recipe_notes}}
            </div>
        </div>
    </div>
{% endfor %}
</div>







{% endblock %}