{% extends "base.html" %}
{% block content %}

<div class="container-md main-header">
    <h1>Vegetarian Meals</h1>


    <div class = "row">
        <div class="col-4 mx-auto gy-4">
            <a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-lg" type="button">
                Add Recipe <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    {% for vegmeal in veg_recipe %} 
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ loop.index }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
        {{ vegmeal.recipe_name}} Time Hrs/Mins : {{vegmeal.cook_time}}

        {% if vegmeal.family_friendly == True %}
        <i class="fa-solid fa-child-reaching"></i>
        {% endif %}

        {% if vegmeal.recipe_healthy == True %}
        <i class="fa-solid fa-heart-pulse"></i>
        {% endif %}
        </button>
      </h2>
      <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" 
      data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{ vegmeal.recipe_notes}}  |

          {% if vegmeal.recipe_location.startswith("https") %}
              <a href = "{{ vegmeal.recipe_location }}" target="_blank">click for recipe.</a> 
          {% else %}
              {{ vegmeal.recipe_location }}
          {% endif %}

          {{ vegmeal.date_added }}
            <div>
              <a href="{{ url_for('edit_recipe', recipe_id=vegmeal.id) }}" class="btn text-success">Edit</a>
              <a href="{{ url_for('delete_recipe', recipe_id=vegmeal.id) }}" class="btn text-danger">Delete</a>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>






{% endblock %}