{% extends "base.html" %}
{% block content %}

<div class="container-md main-header">
    <h1>White-Meat Meals</h1>


    <div class = "row">
        <div class="col-4 mx-auto gy-4">
            <a href="{{ url_for('add_recipe') }}" class="btn btn-primary btn-lg" type="button">
                Add Recipe <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    {% for wmeat in wmeat_recipe %} 
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ loop.index }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
          {{ wmeat.recipe_name}}
        </button>
      </h2>
      <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" 
      data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {{ wmeat.recipe_notes}}  |  {{ wmeat.cook_time}}  |  {{ wmeat.recipe_location }}  | {{ wmeat.date_added }}
        </div>
      </div>
    </div>
    {% endfor %}
</div>






{% endblock %}